/*  Reglas
    Selectores      -> p
    Declararaciones -> color: red;        
    Propiedades     -> color:
    Valores         -> red;
*/

/*Selector de Etiqueta*/
/* header
{
    background: lightblue;
} */

/*Selector Descendente*/
/* body header div nav ol li a
{
    font-size: 12px;
} */

/*Selector de Clase*/
/* .link
{
    font-size: 12px;
} */

/*Selector de ID*/
/* #portafolio
{
    background: lightblue;
} */

/*  gris_oscuro = #1d252c
    gris_claro = #626262
    background_gris = #1b2127
    celeste = #026fff
*/
/*Variables de Color*/
:root
{
    --gris-oscuro-color: #1d252c;
    --gris-claro-color: #626262;
    --background-gris-color: #1b2127;
    --celeste-color: #026fff;
}

@font-face 
{
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?xbzry5');
    src:  url('../fonts/icomoon.eot?xbzry5#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?xbzry5') format('truetype'),
      url('../fonts/icomoon.woff?xbzry5') format('woff'),
      url('../fonts/icomoon.svg?xbzry5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/*Willdcard Selectors:
    > * [class *= "span"] -> seleciona elementos cuyo valor de atrubuto CONTENGA el string indicado (span)
    > ^ [class ^= "something"] -> selecciona elementos cuyo valor de atributo EMPIEZA por el string (something)
    > $ [class $= "something"] -> selecciona elementos cuyo valor termina por la cadena de texto (something)   
*/

[class^="icon-"], [class*=" icon-"] 
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-menu:before 
{
    content: "\e900";
}  

/*Sino encuentra Arial, Buscara Helvetica, sino una fuente sans-serif*/
body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

figure
{
    /*Quitar margen para evitar espacio en blanco entre la parte superior del header*/
    margin: 0;
}

ol,
ul
{
    margin: 0;
    padding: 0;
    /*Quitar numeracion y viñetas de listas*/
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Fjalla One', sans-serif;
    /*Ancho de fuente*/
    font-weight: normal;
}

h1
{
    font-size: 40px;
    /*Separacion entre lineas*/
    line-height: 1.5;
    /*Separacion entre letras*/
    letter-spacing: -0.2px;
    color: white;
    margin: 0;
    /*Transformacion de texto*/
    /* text-transform: uppercase;
    text-decoration: none; */
}

h1 strong
{
    color: var(--celeste-color);
}

h2 
{
    color: var(--celeste-color);
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero
{
    height: 300px;
    /* background-image: url('../img/hero.jpg'); */
    background-color: var(--background-gris-color);
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    /*Centramos el Hero*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /*Para mejor visualizacion del texto*/
    text-shadow: 1px 2px 2px #000;
}

.hero-image
{
    object-fit: cover;
    /*Para visualizar texto*/
    /* filter: opacity(80%) blur(1px); */
}

.portfolio
{
    background: #fafafa;
    padding: 20px;
}

.project
{
    /*Sino se especifica color de borde se utiliza el color de texto*/
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    /*Margin Collapsing, toma en cuenta el margen mas grande entre dos elementos*/
    /* margin: 10px; */
    margin-bottom: 15px;
    /*Centrar Contenido*/
    /*margin: 0 auto;*/
    padding: 20px;
    background: white;
    /*Modelo de Cajas. Esto no permitira que el elemento rebase el width o height que se el defina*/
    /* box-sizing: border-box; */
    /*Displays:
        Block: ocupa todo el ancho posible. Bloque es toda la seccion orizontal
        Inline: Espera contenido hacia sus costados. Los elementos se ponen uno a lado de otro*
                Inline no respeta width y si el elemento ocupa mas espacio el siguiente estara abajo
        Inline-Block: Respeta width de los elementos y los pone uno al lado de otro.
        Flex: Ajusta los elementos para que todos entren en fila o columna, sin importar width o height.
    */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 5px 33px var(--gris-claro-color);
}

.project-image
{
    /* width: 350px; */
    /* height: 300px; */
    object-fit: contain;
}

.project-course,
.project-date,
.project-url
{
    margin: 10px 0;
}

.project-description
{
    font-size: 20px;
}

.project strong
{
    font-family: 'Fjalla One', sans-serif;
}

.project-title
{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details 
{
    width: 50%;
}

.project-imageContainer
{
    width: 50%;
}

/*Colocar imagenes responsivas*/
.project-imageContainer img
{
    max-width: 100%;
}

.header
{
    background-color: var(--background-gris-color);
    color: white;
    /*Para que hijos (figure y nav) se alineen en horizontal*/
    display: flex;
    /*Vamos a ir heredando de manera descendiente la altura del header*/
    height: 70px;
    /*Para alinear el logo*/
    align-items: center;
    /*Figure izquierda y nav derecha (Expacios iguales entre elementos pero sin espacios en start y end)*/
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu 
{
    /*Menu hereda de .header*/
    height: inherit;
}

.header ol 
{
    /*.header ol hereda de .menu*/
    /*Elementos de lista en forma horizontal (Solo aplica a hijos directos)*/
    display: flex;
    height: inherit;
}

.header ol li
{
    /*.header ol li hereade de header ol*/
    height: inherit;
}

.header a 
{
    /*.header a hereda de .header ol li*/
    color: white;
    text-decoration: none;
    height: inherit;
    /*Una vez heredada la algura, aplicar flex y centrarlos*/
    display: flex;
    align-items: center;
    /*Agregamos padding (relleno) a los elementos del menu*/
    padding: 0 10px;
}

.footer
{
    color: white;
    background-color: var(--background-gris-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img
{
    vertical-align: middle;
}

.footer a
{
    color: white;
}

.event-list 
{
    display: flex;
    flex-wrap: wrap;
}

.event-list-title
{
    margin-left: 20px;
}
 
.event
{
    /* border: 1px solid red; */
    margin: 1%;
    width: 48%;
    /*Para que ocupen el tamaño designado*/
    flex-shrink: 0;
    border-radius: 10px;
    /*Cuando un elemento se desborde de event, se ocultara*/
    overflow: hidden;
    background: #f4fbff;
}

.event img
{
    width: 480px;
    height: 200px;
    /*Ajustamos la imagen al contenedor sin que se desproporsione
        Cover para que se ajuste si importar tamaño
    */
    object-fit: cover;
}

.event-detail
{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description
{
    text-align: left;
}

.event-url
{
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact
{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    /*Alinear iconos a la izquierda*/
    justify-content: space-between;
    flex-wrap: wrap;
}

.social 
{
    /* border: 1px solid red; */
}

.social-link
{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    /*Aplica para los iconos de social*/
    background-size: 50px 50px;
}

.social-link.linkedin
{
    background-image: url('../img/linkedin_w.svg');    
}

.social-link.twitter
{
    background-image: url('../img/twitter.svg');
}

.social-link.github
{
    background-image: url('../img/github.svg');
}

.social-link.instagram
{
    background-image: url('../img/instagram.svg');
}

.form-email input
{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../img/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button 
{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form-email h3
{
    font-family: 'Source Sans Pro', sans-serif;
}

.container
{
    /* border: 1px solid red; */
    max-width: 1000px;
    /*Para que tome todo el ancho disponible del elemento*/
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.burger-button
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*Red Green Blue -> 0 - 250 Opasity -> 0 - 1*/
    background-color: rgba(27,33,39,0.8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}

/* Desktop fist -> Empezar desde el MQ mas grande*/
@media screen and (max-width: 1024px)
{
    .container
    {
        padding: 0 1em;
    }

    .hero
    {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .hero-image
    {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    h1
    {
        font-size: 2em;
        z-index: 2;
    }
}

.html-video
{
    width: 100%;
    height: auto;
    /*Maximo ancho disponible*/
    /* max-width: 100%; */
}

.youtube-video
{
    /* No podemos aplicar de manera correcata estas estiquetas al iframe */
    /* width: 100%; */
    /* height: auto; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flexible-video
{
    width: 100%;
    height: 0;
    /* Regla para mantener proporcion es: h * 100 / w */
    padding-top: 56.25%;
    background: blue;
    position: relative;
}

/*Para resoluciones menores a iPad*/
@media screen and (max-width: 767px)
{
    .burger-button
    {
        display: block;
    }

    .header
    {
        display: block;
        /*auto e initial para resetear valores*/
        height: auto;
    }

    .header ol
    {
        display: block;
    }

    .header ol li
    {
        height: 50px;
    }

    .header a
    {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: none;
        margin-bottom: 0.5em;
    }

    .header .logo
    {
        text-align: center;
    }

    .menu
    {
        position: fixed;
        background: rgba(5, 111, 255, 0.9);
        z-index: 3;
        top: 0;
        left: -100vw;
        /*100% del ancho del viewport*/
        width: 100vw;
        /* height: 100vw; */
        /*Para que se estire y centre verticalmente*/
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }

    /*clases juntas -> cuado el elemento tenga las dos clases se ejecutaran las acciones*/
    .menu.is-active
    {
        left: 0;
    }

    .project 
    {
        display: block;
    }

    .project-imageContainer
    {
        width: auto;
        text-align: center;
    }

    .project-details
    {
        width: auto;
        /* font-size: 16px; */
    }

    .project-course, .project-date, .project-url
    {
        margin: 0.3em 0;
    }

    .project-title
    {
        font-size: 1.5em;
        margin-bottom: 0.3em;
    }

    .project-url
    {
        font-size: 1em;
    }

    .project-course
    {
        font-size: 0.7em;
    }

    .project-date
    {
        font-size: 1em;
    }

    .project-description
    {
        font-size: 0.8em;
    }

    .event
    {
        width: auto;
        /*Quitamos Scrool horizontal*/
        flex-shrink: initial;
    }

    /*La etiqueta tiene un valor mayor que la etiqueta*/
    .event img
    {
        width: 100%;
    }
}

@media screen and (max-width: 480px)
{
    .h1
    {
        font-size: 1.5em;
    }

    .project-details
    {
        width: auto;
        font-size: 12px;
    }

    .event-detail
    {
        /*1em = 16px*/
        margin: -2em 0.5em 0.5em;
        padding: 1em;
    }

    .contact
    {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }

    .form-email button
    {
        margin: 1em auto;
    }

    .form-email h3 
    {
        margin-top: 0;
    }

    .footer
    {
        display: block;
        text-align: center;
        /*Ajustar footer y eliminar espacio en blanco*/
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 320px)
{
    h1
    {
        font-size: 1.2em;
        background: rgba(0,0,0,0.5);
    }

    .hero
    {
        padding: 2em 1em;
    }
}