/*  Reglas
    Selectores      -> p
    Declararaciones -> color: red;        
    Propiedades     -> color:
    Valores         -> red;
*/

/*Selector de Etiqueta*/
/* header
{
    background: lightblue;
} */

/*Selector Descendente*/
/* body header div nav ol li a
{
    font-size: 12px;
} */

/*Selector de Clase*/
/* .link
{
    font-size: 12px;
} */

/*Selector de ID*/
/* #portafolio
{
    background: lightblue;
} */

/*  gris_oscuro = #1d252c
    gris_claro = #626262
    background_gris = #1b2127
    celeste = #026fff
*/
/*Variables de Color*/
:root
{
    --gris-oscuro-color: #1d252c;
    --gris-claro-color: #626262;
    --background-gris-color: #1b2127;
    --celeste-color: #026fff;
}

/*Sino encuentra Arial, Buscara Helvetica, sino una fuente sans-serif*/
body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

figure
{
    /*Quitar margen para evitar espacio en blanco entre la parte superior del header*/
    margin: 0;
}

ol,
ul
{
    margin: 0;
    padding: 0;
    /*Quitar numeracion y viñetas de listas*/
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Fjalla One', sans-serif;
    /*Ancho de fuente*/
    font-weight: normal;
}

h1
{
    font-size: 40px;
    /*Separacion entre lineas*/
    line-height: 1.5;
    /*Separacion entre letras*/
    letter-spacing: -0.2px;
    color: white;
    /*Transformacion de texto*/
    /* text-transform: uppercase;
    text-decoration: none; */
}

h1 strong
{
    color: var(--celeste-color);
}

.hero
{
    height: 300px;
    background-image: url('../img/hero.jpg');
    background-color: var(--background-gris-color);
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.portfolio
{
    background: #fafafa;
}

.project
{
    /*Sino se especifica color de borde se utiliza el color de texto*/
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    /*Margin Collapsing, toma en cuenta el margen mas grande entre dos elementos*/
    margin: 10px;
    margin-bottom: 15px;
    /*Centrar Contenido*/
    /*margin: 0 auto;*/
    padding: 20px;
    background: white;
    /*Modelo de Cajas. Esto no permitira que el elemento rebase el width o height que se el defina*/
    /* box-sizing: border-box; */
    /*Displays:
        Block: ocupa todo el ancho posible. Bloque es toda la seccion orizontal
        Inline: Espera contenido hacia sus costados. Los elementos se ponen uno a lado de otro*
                Inline no respeta width y si el elemento ocupa mas espacio el siguiente estara abajo
        Inline-Block: Respeta width de los elementos y los pone uno al lado de otro.
        Flex: Ajusta los elementos para que todos entren en fila o columna, sin importar width o height.
    */
}

.project-details 
{
    width: 500px;
}

.project-imageContainer
{
    width: 500px;
}

.header
{
    background-color: var(--background-gris-color);
    color: white;
    /*Para que hijos (figure y nav) se alineen en horizontal*/
    display: flex;
    /*Figure izquierda y nav derecha (Expacios iguales entre elementos pero sin espacios en start y end)*/
    justify-content: space-between;
    /*Vamos a ir heredando de manera descendiente la altura del header*/
    height: 90px;
}

.menu 
{
    /*Menu hereda de .header*/
    height: inherit;
}

.logo img
{
    width: 90px;
    height: inherit;
}

.header ol 
{
    /*.header ol hereda de .menu*/
    /*Elementos de lista en forma horizontal (Solo aplica a hijos directos)*/
    display: flex;
    height: inherit;
}

.header ol li
{
    /*.header ol li hereade de header ol*/
    height: inherit;
}

.header a 
{
    /*.header a hereda de .header ol li*/
    color: white;
    text-decoration: none;
    height: inherit;
    /*Una vez heredada la algura, aplicar flex y centrarlos*/
    display: flex;
    align-items: center;
    /*Agregamos padding (relleno) a los elementos del menu*/
    padding: 0 10px;
}